<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Home" fontsize="20" name="Heading"></wm-label>
                <br>
                <wm-label caption="Hey start working on this page" fontsize="20" name="Heading"></wm-label>
                <br>
                <wm-label caption="Hey when are you going to finalise this page ?" fontsize="20" name="Heading"></wm-label>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>